:root {
  --bg: #fff;
  --fg: #000;
  --accents-1: #f2f2f2;
  --accents-2: #d4d4d4;
  --accents-3: #a3a3a3;
  --accents-4: #737373;
  --accents-5: #404040;
  --accents-6: #262626;
  --accents-7: #000;
  --border: #d4d4d4;
  --success: #000;
  --error: #000;
  --warning: #000;
  --radius: 6px;
  --header-height: 56px;
  --primary: #000;
  --primary-contrast: #fff;
  --surface: #fff;
  --surface-muted: #f5f5f5;
  --overlay: rgb(0 0 0 / 45%);
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;

  --bg: #000;
  --fg: #fff;
  --accents-1: #0f0f0f;
  --accents-2: #262626;
  --accents-3: #737373;
  --accents-4: #a3a3a3;
  --accents-5: #d4d4d4;
  --accents-6: #e5e5e5;
  --accents-7: #fff;
  --border: #404040;
  --success: #fff;
  --error: #fff;
  --warning: #fff;
  --primary: #fff;
  --primary-contrast: #000;
  --surface: #000;
  --surface-muted: #111;
  --overlay: rgb(0 0 0 / 70%);
}
